@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import '@flaticon/flaticon-uicons/css/all/all'; */

@layer base {
	@font-face {
		font-family: 'LeagueSpartan';
		font-style: normal;
		src: url(/static/fonts/LeagueSpartanFont.ttf) format('ttf');
	}

	@font-face {
		font-family: 'rp1';
		font-style: normal;
		src: url(/static/fonts/rp1font.ttf) format('ttf');
	}

	/* @font-face {
		font-family: 'FontName';
		font-style: normal;
		src: url('/fonts/local_file_name') format('type');
	} */
}

@layer utilities {
	@media (max-width: 800px) {
		.translate-y-custom {
			transform: translateY(70px);
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
	background-color: black;
}
* {
	/* For WebKit browsers (Chrome, Safari) */
	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 2px;
	}
}

img {
	-webkit-user-drag: none;
}
