@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'LeagueSpartan';
		font-style: normal;
		src: url(/fonts/LeagueSpartanFont.ttf) format('ttf');
	}

	/* @font-face {
		font-family: 'FontName';
		font-style: normal;
		src: url('/fonts/local_file_name') format('type');
	} */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
	background-color: black;
}
* {
	/* For WebKit browsers (Chrome, Safari) */
	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: #000000;
	}

	::-webkit-scrollbar-thumb {
		background: #ff0000;
		border-radius: 2px;
	}
}
