@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: black;
}
*{
	/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 2px;
}


}
